@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #150E28;
    font-family: 'Montserrat', sans-serif;
}

.gradient-link {
  background: linear-gradient(to right, #903AFF, #D434FE, #FE34B9);
  background-clip: text;
  -webkit-background-clip: text;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/assets/fonts/clash-display.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font to a specific class or element */
.font-unica {
  font-family: 'Clash Display', sans-serif;
}