@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #150E28;
    font-family: 'Montserrat', sans-serif;
}

.gradient-link {
  background: linear-gradient(to right, #903AFF, #D434FE, #FE34B9);
  background-clip: text;
  -webkit-background-clip: text;
}

